@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
}

body {
    background-color: hsl(180, 46%, 95%);
    background-image: url(imagens/xadrezMarrom.jpeg);
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    font-family: 'Nunito', sans-serif;
    color:hsl(0, 0%, 10%);
    word-spacing: 0.3em;
}

p {
    margin-left: 3%;
    margin-right: 3%;
    text-indent: 3%;
    font-size: 1.5em;
    text-align: justify;
    text-justify: inter-word;
}
 img {
    border-radius: 5%;
    display: block;
    margin: 0px auto;
 }



/* Classes */
.navbar {
    width: auto;
    height: fit-content;
    display: flex;
    color: hsl(28, 26%, 55%); 
    text-align: center; 
    font-size: 15px;
    background-color: rgb(230, 189, 173);
    padding: 1ch;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-around;
    gap: 5px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: rgb(230, 189, 173);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 35%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgb(209, 157, 136);
  }

  .dropbtnUsando {
    background-color: rgb(230, 189, 173);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-style: italic;
    color: hsl(28, 26%, 55%); 
    
  }

.navbar_item {
    align-self: flex-start;
}

.nomeCientifico {
    font-style: italic;
    text-decoration: underline;
    font-weight: lighter;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

table {
    padding: 10px; 
    /* border-color: #C9C5BA; */
    border-color: black;
    background-color: hsl(0, 0%, 90%);
    border: 2%;
}

th {
    border-color: black;
    background-color: #C9C5BA;
}

td.header {
    font-weight: bold;
}

h2 {
    border-color: black;
    color: hsl(0, 0%, 63%);
    font-size: 3.3em;
    text-align: center;
}

h3 {
    border-color: black;
    color: hsl(0, 0%, 63%);
    font-size: 25px;
    text-align: center;
}

h4 {
    border-color: black;
    color: hsl(0, 0%, 63%);
    font-size: 20px;
    text-align: left;
}

li{
  font-size: 1.3em;
}

.atencao {
    font-family: 'Times New Roman', Times, serif;
    border-style: dotted;
    margin-left: 35px;
    margin-right: 35px;
    padding: 10px;
    background-image: url(imagens/papel.jpeg);
    border-radius: 10px;
}

blockquote{
    font-family: 'Times New Roman', Times, serif;
    border-style: dotted;
    margin-left: 6%;
    margin-right: 6%;
    padding: 10px;
    background-image: url(imagens/papel.jpeg);
    border-radius: 4%;
    font-size: 1.3em;
}

.txtSub{
    font-size: 2.2em;
    color:hsl(17, 53%, 79%);
    text-align: left;
}

.txtInsideSub{
    text-indent: 5%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2em;
}

.txtSub2{
    font-size: 1.4em;
    color:hsl(17, 53%, 79%);
    text-align: left;
}

.listaDireita {
    text-align: left;
}

.caixaFundo {
    margin-top: 3%;
    background-image: url(imagens/quadriculadoBranco.jpeg);
    margin-left: 10%;
    margin-right: 10%;
    border: 17px solid transparent;
    padding: 10px;
    border-image-source: url(imagens/border2.png);
    border-image-repeat: stretch;  
    border-image-slice: 30;
  }

  .indexBox1 {
    background-image: url(imagens/coelhomito.jpeg);
    margin-left: 10%;
    margin-right: 10%;
    border: 17px solid transparent;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    background-position: center;

  }


  .cadastro {
    margin: 1%;
    padding: 1%;
    width: 40%;
    border: 2.5px;
    border-radius: 10px;
    border-style: dotted;
    border-color: hsl(318, 34%, 52%);
    transition: all, 1s;
    color: hsl(0, 0%, 0%);
    background-color:rgb(212, 170, 154);
    display: block;
    margin: 0px auto;
}

    .cadastro:hover {
    border-radius: 25px; 
    border-color: hsl(318, 34%, 52%); 
    opacity: 100%;
    transition: all, 1s;
    background-color: rgb(244, 213, 201);
    display: block;
    margin: 0px auto;
}

.cadastro {
    opacity: 70%;
    transition: all, 1s;
}
  
.txtCadastroTitulo{
    font-size: 20px;
    color:hsl(0, 0%, 0%);
    text-align: left;
}

.pCadastro{
    text-align: left;
}


.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 10px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 50%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }

  fieldset {
    border-style: dotted;
    border-radius: 15px;
    opacity: 50%;
    transition: all, 0.5s;
  }

  fieldset:hover {
    border-radius: 25px;
    border-width: 4px;
    opacity: 100%;
    transition: all, 0.5s;
  }

 .home{
  display: flex;
  flex-direction: row;
  background-image: url(./imagens/coelhomito.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 50%;
  position: fixed;
  font-family: 'Bebas Neue', cursive;
  font-size: 9.0em;
  color:hsl(0, 0%, 90%);
  word-spacing: 5px;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  text-shadow: 2px 2px hsl(28, 26%, 55%);
 }
  

  @media (min-width: 300px) and (max-width: 780px) {
    .navbar {
        position: relative;
        font-size: 0.7em;
        
    }

    .dropdown:hover .dropdown-content {
        position: relative;
        width: auto;
  }

  .dropbtn{
    font-size: 1.3em;
  }

  .dropdown{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .dropdownUsando{
    font-size: 1.0em;
  }

  .caixaFundo{
    margin-right: 3%;
    margin-left: 3%;
  }

body{
  width: fit-content;
}

  h2{
    font-size: 2.0em;
  }

  blockquote{
    font-size: 1.0em;
  }

  .txtSub2{
    font-size: 1.5em;
  }

  .txtInsideSub, p{
    font-size: 1.0em;
    word-spacing: normal;
    float: left;
    text-align: justify;
    margin-left: auto;
    padding-left: 3%;
  }

  .cadastro{
    width: fit-content;
    margin-top: 3%;
  }

  #clienteNome{
    size: 1.2em;
  }

  li{
    font-size: 1.0em;
  }
}

/**
  @media (min-width: 768px) and (max-width: 1024px) {
     
    .txtInsideSub, p{
      font-size: 1.0em;
      word-spacing: normal;
      text-align: justify;
      margin-left: auto;
      padding-left: 0%;
      
    }
  

  }


